@CHARSET "UTF-8";

table {
	border: #6495ED 1px solid;
	background-color: #D7E4F5;
	border-radius: 10px;
}

thead tr {
	background-color: #BCD2EE;
	font-weight: bold;
	font-size: 18px;
}

td {
	border: #6495ED 1px solid;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

td:first-child {
	width: 210px;
}
td:nth-child(4) {
	text-align: left;
		
}